<div style="font-size: 16px;padding: 30px;line-height: 2.0;display: flex;justify-content: center;color: black !important;">
    <div style="padding:30px;background:aliceblue;Margin:0 auto;max-width:900px;min-width:auto;word-wrap:break-word;word-break:break-word;width:100vw;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <p style="font-size: 1.2rem;">{{ message.title }}.</p>
        <div>
            <div style="position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;
    ">
                <div style="flex: 1 1 auto;padding: 1rem 1rem;">
                    <div style="display:flex;justify-content: space-between !important;">
                        <span>{{ message.body }}</span>
                    </div>
                </div>
            </div>
        </div>
        <p style="background: #00abff;padding: 0 15px;border: none;border-radius: 4px;cursor: pointer;width: max-content;">
            <a href="#" style="color: white !important;text-decoration: none;"> Click for more information</a>
        </p>
    </div>
</div>
