{% extends 'base.html' %}
{% load static %}
{% block title %} Mt. Kenya Innovest shop project {% endblock title %}
{% block headJS %}
    <script defer="defer" src="{% static 'js/main.f1c32d82.js' %}"></script>
{% endblock headJS %}

{% block stylesheet %}{% endblock stylesheet %}

{% block body %}
    {% csrf_token %}
    <div id="root"></div>
    <Script>
        function setAttributes(element, attributes) {
            Object.keys(attributes).forEach(attr => {
                element.setAttribute(attr, attributes[attr]);
            });
        }
        const attributes = {
            'data-host' : "{{ domain }}",
            "data-scheme": "{{ scheme }}",
            "data-pathname": "{{ pathname }}",
        };
        const root = document.querySelector('#root');
        setAttributes(root, attributes);
    </Script>
{% endblock body %}