{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="manifest" href="{% static 'vendor/json/shop/manifest.json' %}"/>
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <link href="{% static 'vendor/styles/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/styles/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/styles/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/styles/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/styles/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script defer="defer" src="{% static 'vendor/js/masonry.js' %}"></script>
    <script defer="defer" src="{% static 'vendor/js/main.js' %}"></script>

    <title> Powered by django |{% block head_title %}{% endblock head_title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
{% block body %}
    <div class="my-1 text-center d-none">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <section class="p-lg-5">
        {% block content %} {% endblock content %}
        {% block extra_body %} {% endblock extra_body %}
    </section>
    {% block javascript %} {% endblock javascript %}
{% endblock body %}
</body>

</html>