{% extends "account/base.html" %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}

<div class="p-5 mt-5 text-center">
    <h1 class="fw-bold mb-2">Password Reset</h1>
    <p class="lead">We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
   {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
</div>
{% endblock %}
