{% extends "account/base.html" %}
{% load account %}
{% block head_title %}Password Reset{% endblock %}
{% block content %}

    <div class="modal-dialog">
        <div class="modal-content  border-0">
            <div class="border rounded-3 py-4">
                <div class="modal-header border-bottom-0 flex-column">
                    <h3 class="fw-bold mb-0">Password reset.</h3>
                    <p class="small">Forgot your password? Enter your Email address below, and you will receive an email to allow password reset.</p>
                    <p class="small">
                        <a class="text-decoration-none me-2" href="{% url 'account_signup' %}">Sign up </a> or <a class="text-decoration-none" href="{{ login_url }}">Sign in</a>
                    </p>
                </div>
                <div class="modal-body px-4 ">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <div class="">
                            <p class="text-warning">
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}
                            </p>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="did-floating-label-content">
                            {{ form.email }}
                            <label class="did-floating-label">Email address</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-sm rounded-4 btn-success" type="submit">Reset password</button>
                    </form>
                    <small class="text-muted">Please contact us if you have any trouble resetting your password.</small>
                    <small> <a class="text-decoration-none" href="{% url 'account_change_password' %}">Remembered password?</a></small>
                </div>

            </div>

            <div class="modal-footer border-top-0">
                <ul class="nav justify-content-between w-100">
                    <li class="nav-item"><a class="nav-link fs-7 text-black-50 fw-bold" href="/">Innovest</a></li>
                    <ul class="nav justify-content-end">
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href="{{ signup_url }}">Sign up</a></li>
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href=".">Privacy</a></li>
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href=".">Terms</a></li>
                    </ul>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}