{% extends "account/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

    <div class="modal-dialog">
        <div class="modal-content  border-0">

            <div class="border rounded-3 ">
                <div class="modal-header border-bottom-0 flex-column">
                    <h3 class="fw-bold mb-0">Change Password</h3>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                </div>

                <div class="modal-body px-4 ">


                    <form class="" method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        <div class="message">
                            {% for tuple, error in form.errors.items %}
                                <div class="alert alert-danger text-center">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="did-floating-label-content">
                            {{ form.oldpassword }}
                            <label class="did-floating-label">{{ form.oldpassword.label }}</label>
                        </div>
                        <div class="did-floating-label-content">
                            {{ form.password1 }}
                            <label class="did-floating-label">{{ form.password1.label }}</label>
                        </div>
                        <div class="did-floating-label-content">
                            {{ form.password2 }}
                            <label class="did-floating-label">{{ form.password2.label }}</label>
                        </div>

                        <button class="w-100 mb-2 btn btn-sm rounded-4 btn-success" type="submit">Change Password</button>
                    </form>
                    <small> <a class="text-decoration-none" href="{% url 'account_reset_password' %}">Forgot Password?</a></small>


                </div>

            </div>

            <div class="modal-footer border-top-0">
                <ul class="nav justify-content-between w-100">
                    <li class="nav-item"><a class="nav-link fs-7 text-black-50 fw-bold" href="/">Innovest</a></li>
                    <ul class="nav justify-content-end">
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href="{{ signup_url }}">Sign up</a></li>
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href=".">Privacy</a></li>
                        <li class="nav-item"><a class="nav-link fs-7 text-black-50" href=".">Terms</a></li>
                    </ul>
                </ul>
            </div>

        </div>
    </div>

{% endblock %}

