{% extends "account/base.html" %}
{% block head_title %}Verify Your E-mail Address{% endblock %}

{% block content %}
    <div class="p-5 mt-5 text-center">
        <h1 class="fw-bold mb-2">Verify Your E-mail Address</h1>
        <p class="lead text-primary">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main
            inbox,
            check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.</p>
    </div>
{% endblock %}
